* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-1 img {
  width: 100%;
  height: auto;
  margin: auto;
  height: 500px;
  object-fit: contain;
}
.card-1 h2 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(16, 14, 14);
  text-align: center;
}
.card-1 p {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(16, 14, 14);
  text-align: center;
}
