* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.detalle{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img{
  width: 70%;
  height: auto;
  margin: auto;
  object-fit: contain;
}
.card h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(16, 14, 14);
    text-align: center;
}
.card p{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(16, 14, 14);
    text-align: center;
}
.container-count{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


