*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
}
.form:hover{
    background-color: #f5f5f5;
}
.form .TextField{
    width: 20%;
    margin: 0.5rem;
    
}
.btn{
    margin: 0.5rem;
    width: 10%;
    height: 2.5rem;
    background-color: rgb(60, 113, 169);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}
.btn:hover{
    background-color: rgb(60, 113, 169);
    color: white;
    transform: scale(1.1);
}
p{
    margin: 5rem;
    font-size: 1rem;
    font-weight: 600;
}