* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.carrito {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(198, 196, 196);
}
.carrito-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 100%;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: bold;
}
.carrito-2 span {
  margin: 0 20%;
  list-style: none;
  text-decoration: none;
  color: black;
}
