* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.container-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.count {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  height: auto;
  background-color: rgb(255, 255, 255);
}
.btn-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  margin-bottom: 3rem;
}

.btn-count p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: transparent;
  margin: 0;
}

.btn-count button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn-count button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: transparent;
  text-decoration: none;
}
