* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.container1 {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container1 h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(16, 14, 14);
  text-align: center;
  margin: 1rem 0;
}
.container2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.count-btn {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.count-btn button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(16, 14, 14);
  cursor: pointer;
}
.count-carrito {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.count-carrito button {
  width: 100px;
  height: 50px;
  border: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(16, 14, 14);
  cursor: pointer;
}
.count-carrito button:hover {
  background-color: rgb(16, 14, 14);
  color: white;
}
