* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}
.item-list {
  display: flex;
}
.container-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 0% 1%;
  padding: 0%;
}
.container-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: transparent;
}
